
.Spreadsheet {
    --border-color: 0,0,0;
    /* overflow: scroll; */
    /* border-radius: 16px; */
    border: none;
}

.Spreadsheet__table {
    border: none;
}

.Spreadsheet__header {
    border: none;
    border-color: transparent;
}

.Spreadsheet__cell {
    padding: 6px 2px !important;
    /* padding: 8px !important; */
    /* padding-top: 8px !important; */
    /* border: 1px solid #e2e8f0 !important; */
    border: none;
    border-color: transparent;
}