@import "@radix-ui/colors/sky.css";
@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/sky-alpha.css";
@import 'reactflow/dist/style.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'MyFont';
  src: url('./assets/Poppins/Poppins-Regular.ttf.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

.Spreadsheet__table {
  max-width: 100%;
  overflow-x: auto;
}

.react-spreadsheet-table {
  width: 100% !important;
}

* {
  box-sizing: border-box;
}

/* #root {
  font-family: 'MyFont', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  height: 100%;


  color-scheme: light dark;
  color: var(--gray-text);
  background: linear-gradient(0deg, #ffffff 60%, var(--sky-2) 90%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --accent-base: var(--sky-1);
  --accent-bg-subtle: var(--sky-2);
  --accent-bg: var(--sky-3);
  --accent-bg-hover: var(--sky-4);
  --accent-bg-active: var(--sky-5);
  --accent-line: var(--sky-6);
  --accent-border: var(--sky-7);
  --accent-border-hover: var(--sky-8);
  --accent-solid: var(--sky-9);
  --accent-solid-hover: var(--sky-10);
  --accent-text: var(--sky-11);
  --accent-text-contrast: var(--sky-12);

  --accent-a-base: var(--sky-a1);
  --accent-a-bg-subtle: var(--sky-a2);
  --accent-a-bg: var(--sky-a3);
  --accent-a-bg-hover: var(--sky-a4);
  --accent-a-bg-active: var(--sky-a5);
  --accent-a-line: var(--sky-a6);
  --accent-a-border: var(--sky-a7);
  --accent-a-border-hover: var(--sky-a8);
  --accent-a-solid: var(--sky-a9);
  --accent-a-solid-hover: var(--sky-a10);
  --accent-a-text: var(--sky-a11);
  --accent-a-text-contrast: var(--sky-a12);

  --gray-base: var(--gray-1);
  --gray-bg-subtle: var(--gray-2);
  --gray-bg: var(--gray-3);
  --gray-bg-hover: var(--gray-4);
  --gray-bg-active: var(--gray-5);
  --gray-line: var(--gray-6);
  --gray-border: var(--gray-7);
  --gray-border-hover: var(--gray-8);
  --gray-solid: var(--gray-9);
  --gray-solid-hover: var(--gray-10);
  --gray-text: var(--gray-11);
  --gray-text-contrast: var(--gray-12);

  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-xl:
    0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  --shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --shadow-inner: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
  --shadow-inner-bottom: inset 0 -4px 8px 0 rgb(0 0 0 / 0.05);
  --shadow-none: 0 0 #0000;
} */

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  min-width: 320px;
  min-height: 100vh;

  @apply h-full w-full overflow-hidden;
}

@layer base {
  body {
    @apply font-body;
  }
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Spline-Sans';
  src: url('/fonts/Spline_Sans/SplineSans-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

:root {
  --primary-color: #6b46c1;
  /* Your desired purple */
  --primary-color-dark: #553c9a;
  /* Darker shade for hover */
}

@layer base {
  :root {

    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    /* --sidebar-accent: 240 4.8% 95.9%; */
    /* --sidebar-accent: 198, 92%, 86%; */
    --sidebar-accent: 217, 86%, 89%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%
  }

  .dark {

    --sidebar-background: 240 5.9% 10%;

    --sidebar-foreground: 240 4.8% 95.9%;

    --sidebar-primary: 224.3 76.3% 48%;

    --sidebar-primary-foreground: 0 0% 100%;

    --sidebar-accent: 240 3.7% 15.9%;

    --sidebar-accent-foreground: 240 4.8% 95.9%;

    --sidebar-border: 240 3.7% 15.9%;

    --sidebar-ring: 217.2 91.2% 59.8%
  }
}